/**global**/

*{
    padding: 0;
    margin: 0;
}

/**body**/

body {
    background-color:white;
    display: flex;
    width: 817px;
    height: 664px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    }


/*box maior*/

.maior{
    background-color: rgb(189, 221, 239);
    width: 817px;
    height: 664px;
    top: 139px;
    left: 309px;
    border: 1px;
}


/*quadrado da mensagem*/

.text{
    width: 100px;
    height: 100px;
    border: 1px;
    flex-direction:row;
    justify-content: center;   
}


/*box título*/


.title{
    font-family: 'Concert One', cursive;
    border: 1px solid black;
    background-color: rgb(20, 10, 67);
    font-size: 45px ;
    color: white;
    width: 817px;
    height: 68px;
    justify-content: start;
    display: flex;
    padding: 5px;
}


/*box mensagem nova*/


.mensagem_nova{

    width: 60%;
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: left;
    gap: 15px;
    align-items: center;

}


/*botao mensagem nova*/


.escopobotao{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.mensagem_nova p {
    height: 100%;
    border: 1px solid red

}

.section_mensagem{
    height: 50vh;
    outline: 1px black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
    align-items: center;
}

